.Sneakers {
  text-align: center;
  background-color: #ffffff;
}

.Sneakers-logo {
  max-width: 100%;
  height: auto;
}

.Sneakers-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sneakers-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Brands-logo { 
  height: 98px;
  width: 98px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Inter123 {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
}

.Imgs {
  position: relative;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.Inter1 {
  width: 576px;
  height: 320px;
  margin: 5px;
  position: relative;
}

#wrapper .text {
  position:relative;
  bottom:65px;
  left:0px;
  visibility:hidden;
  }
  
  #wrapper:hover .text {
  visibility:visible;
  color:white;
  background-color: #000000;
  width:576px;
  position: relative;
  left: 5px;
  }
  


.Inter2 {
  width: 576px;
  height:320px;
  margin: 5px;
  position: relative;
  left: -52%;
  bottom: 18%;

}

.Inter3 {
  width: 575px;
  height: 660px;
  margin: 5px;
  position: relative;
  bottom: -25%;
}